.myblog-page {
    display: inline-block;
    width: 90%;
    .myblog-title {
        text-align: left;
        font-weight: inherit;
    }

    .myblog-divider {
        border-top: 1px solid #111111;
    }

    .myblog-table {
        width: 100%;
        display: flex;
        font-weight: inherit;
        .myblog-table-filter {
            width: 30%;
            margin-left: 5px;
            text-align: left;

            .account-name-filter, .myblog-type-filter {
                display: inline-grid;
                width: calc(100% - 25px);
                padding: 3px;
                background-color: #f3f2f2;
            }

            .myblog-type-filter {
                margin-top: 20px;
            }

            .account-name-filter>span, .myblog-type-filter>span {
                margin-left: 7px;
            }

            span {
                padding: 2px;
            }

            span:last-child {
                margin-bottom: 20px;
            }

            span span {
                padding-left: 5px;
                text-transform: capitalize;
            }

            h4 {
                margin: initial;
                padding: 10px;
            }
        }

        .myblog-table-content {
            width: 70%;
            .myblog-item-title {
                width: 100%;
                display: flex;
            }
            .myblog-item-title:first-child {
                text-align: left;
                margin-right: 50px;
            }
        }
    }
    .myblog-table::after {
        content: "";
        clear: both;
        display: block;
    }

    .myblog-detail-wrapper {
        padding: 3px;
        text-align: left;

        div:first-child {
            margin-top: 15px;
        }

        div {
            display: flex;

            span:first-child {
                margin: 7px;
                font-weight: 600;
            }

            span {
                margin: 7px 0;
            }
        }
    }
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="myblog-table"] {
      display: block !important;
  }
  [class*="myblog-table-"] {
    width: 90% !important;
  }
}